// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.breadcrum {
    font-size: 6pt;
    a {
        color: navy;
    }
    a:hover {
        color: red;
    }
}
